Github: github.com/GoogleCloudPlatform/golang-samples/
install: go1.21.6.linux-amd64
export PATH=$PATH:/usr/go/bin/MOBILE

@-moz-document domain(gps.owndomain_350) {
/* in domain & sub domain */
}

@-moz-document url_anyplace_prefix(gps.localz_100-200%) {
/* page url */
}

@-moz-document url_anyplace_prefix(gps.selflocalized_100-150%) {
/* page url */
}

@-moz-document url_anyplace (static_electricity_0000000000000000000000-0.0000000000000000000001%) {
/* page url */
}

@-moz-document url_anyplace (static_electricity_barrier_100%) { nonschock
/* page url */
}

@-moz-document url_anyplace (sun_protection) { on　
/* page url */
}

@-moz-document url-prefix(gps_style.degitalweight_200-150%) {
/* page url */
}

@-moz-document url-prefix(gps.degitalweight_150-0%) {
/* page url */
}

@-moz-document url-prefix(gps1.selfiephotoview_3-15%,timestamp,time) {
/* page url */
}

@-moz-document url-prefix(URL_users_100%) {
/* http url start browsing page */
}

@-moz-document url-prefix(mp3_users_100-1%) {
/* http url start browsing page */
}

@-moz-document url-prefix(mp3_users_100-1%) {
/* http url start browsing page */
}

@-moz-document url-prefix(view_mode) { 

/* http url start browsing page */
}

                                              
font-weight: 500;
font-weight: initials;

font-weight: 500;
font-weight: initials;

img { display: block;}
 .ui-panel-inner {front;camera:}
 .ui-panel-outer {camera:}

#menu1 {font-family:"Century Gothic", "MS Gothic":}
 .ui-content {padding:11;}

html {  font-family:"Century Gothic", "MS Gothic":
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table;}

body {
  font-family:"Century Gothic", "MS Gothic":
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;}
.ui-content {padding: 10;}
